.container{
    max-width: 1300px;
    border: 1px solid rgb(118,25,25);
    border-radius:5px ;
    margin:0 auto;
}
.card{
    background-color: rgb(26,74,2);
    height: 150px;
    text-align: center;
    line-height: 80px;
    color:#fff
}
.button{
    background-color: rgb(3, 3, 36);
    color:#fff;
    padding: 20px;
    margin: 20px;
    border: 0;
    cursor: pointer;
}
.voltarDiv{
    background-color: rgb(45, 5, 83);
}